body {
    font-family: 'DM Sans', sans-serif;
}

nav {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
        align-items: center;
        float: right;

        li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;

            a {
                text-decoration: none;
                color: black;
                font-size: 30px;
            }
            
            a.active {
                color: black;
                text-decoration: underline;
                text-decoration-color: gold;
            }
        }
    }
}

#green-box {
    background-color: green;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#tan-box {
    background-color: tan
}

.white-heli-logo {
    width: 150px;
    height: 150px;
}

.heli-logo {
    height: 75px;
    width: 75px;
}
.headshots {
    height: 411px;
    width: 411px;
    border-radius: 50%;
}

.headshots-tan {
    background-color: tan;
    height: 411px;
    width: 411px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;

    }
}
.headshots-purple {
    background-color: purple;
    height: 411px;
    width: 411px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;

    }
}

.alumni-headshots {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.footer {
    display: inline-block;
    align-items: center;
}