nav {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        float: right;

        li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;

            a {
                text-decoration: none;
                color: black;
                font-size: 30px;
            }
            a:hover {
                color: black;
                text-decoration: underline;
                text-decoration-color: gold;
            }
        }
    }
}

#green-box {
    background-color: green
}

#tan-box {
    background-color: tan
}

.headshots {
    height: 411px;
    width: 411px;
    border-radius: 50%;
}

.headshots-tan {
    background-color: tan;
    height: 411px;
    width: 411px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;

    }
}
.headshots-purple {
    background-color: purple;
    height: 411px;
    width: 411px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;

    }
}

.alumni-headshots {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
